{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} | Page Title</title>

    <link rel="stylesheet" href="{% static 'core/css/estilo.css'  %}">
    
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="base-header">
      <a href="#" class="base-header-element" >TIENDA ONLINE</a>
      <div>
        <a href="#" class='base-new-item'>New Item</a>
        <a href="#" class='base-new-item'>Browse </a>
        <a href='#' class="button-01" >Sign up</a>
        <a href="#" class="button-02">Log in</a>
      </div>
    </nav>
    <div>
      {% block content %}
      
      {% endblock %}

    </div>
    <footer class="footer-div">
      <div class="footer-rigth">
        <h3>About</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, sit.</p>
      </div>
        <div class="footer-left">
          <h3>Menu</h3>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Term of use</a></li>
          </ul>
        </div>  
    </footer>
</body>
</html>