@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap');
:root{
    --text-color: black;
    --green-color: #5BD9CC;
    --darker-green: #088C7F;
    --white-text-color: whitesmoke;
    --gray-color: gray;
    --darkgray-color: #5D6266;
    --ligth-gray: #D9D8D7;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color:whitesmoke ;
}
.base-header{
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid gray;
    padding: 1rem ;
}

.base-header-element{
    font-family: 'Lexend', sans-serif;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
}


.test-tile{
    font-family: 'lexend', sans-serif;
    font-weight: bold;
    color: gray;
    margin-top: 2rem;
}

.base-new-item{
    text-decoration: none;
    font-family: 'lexend', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 0.9rem;
    padding: .9rem;
}


.button-01{
    padding: 0.3rem 0.6rem;
    font-size: 1.3rem;
    text-decoration: none;
    background-color: var(--green-color);
    color:var(--white-text-color);
    border-radius: 0.5rem;
    text-align: center;
    font-family: 'lexend', sans-serif;
    margin-right: 1rem;
}
.button-01:hover{
    background-color: var(--darker-green);
}

.button-02{
    padding: 0.3rem 0.6rem;
    font-size: 1.3rem;
    text-decoration: none;
    background-color: var(--gray-color);
    color:var(--white-text-color);
    border-radius: 0.5rem;
    text-align: center;
    font-family: 'lexend', sans-serif;
}

.button-02:hover{
    background-color: darkgray;
}

footer{
    margin-top: 30px;
    background-color: var(--darker-green);
    padding: 20px 20px;
}

footer h3{
    color: var(--white-text-color);
}
footer p{
    color: var(--white-text-color);  
}

footer a{
    color: var(--white-text-color);
    text-decoration: none;
}

footer li{
    list-style: none;
}

.footer-div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}

.newest-item-grid{
    margin-top: 6px;
    padding: 12px 6px;
    border-radius: 5px;
    background-color: var(--ligth-gray);
}

.newest-item-grid h2{
    margin-bottom: 12px;
    font-size: 2rem;
    text-align: center;
    font-family: 'Lexend',sans-serif;
    font-weight: bolder;
    place-content: center;
}

.footer-left{
    justify-self: end;
}


